<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="de">
    <head>
        <link rel="stylesheet" href="./stylesheets/config.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>Sensor Konfiguration</title>
    </head>
    <body>
        <div class="title">
            <h1 id="title">Sensoren Konfiguration</h1>
        </div>
        <div class="container">
            <div class="con" id="list">
                <table id="table">
                    <tr id="headings">
                        <th>SensorTB</th>
                        <th>SensorPlace</th>
                        <th>Sensor ID</th>
                    </tr>
                    <% if (sensorList !== undefined) {%>
                        <%sensorList.forEach(function (item) { %>
                            <tr id="collumn_<%=item.nameTB_%>" class="column">
                                <td id="r1_<%=item.nameTB_%>" class="r1" type="button"><%=item.nameTB_%></td>
                                <td id="r2_<%=item.nameTB_%>" type="button" class="r2"><%=item.namePlace_%></td>
                                <td id="r3_<%=item.nameTB_%>" class="r3" type="button"><%=item.nameSensor%></td>
                            </tr>
                        <%});%>
                    <%}%>
                </table>
                <label id="addTable" type="button">+</label>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="./javascript/config.js"></script>
    </body>
</html>