<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../stylesheets/config-sensor-types.css'>
    <link rel='stylesheet' href='../stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='../stylesheets/template.css'>
    <title>Configuration</title>
</head>
<body>
<header class="text-center">
    <h1 id="title">Configuration</h1>
</header>
<main id="main">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light lightgrey">
            <a class="navbar-brand darkgrey" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form method="get" action="/" class="wrapper">
                <input  class="button"  type="submit" value="home">
            </form>
            <div class="dropdown wrapper">
                <button class="button">Display Sensors</button>
                <div class="dropdown-content">
                    <%for (let count = 0; count < sensors.length; count++) { %>
                    <form class="content" action="/display" method="get" >
                        <input hidden name="sensorID" value="<%=sensors[count].sensorID%>">
                        <input class="dropdown-item" id="dropdown_<%=sensors[count].sensorID%>" type="submit" value="<%=sensors[count].sensorNick%>">
                    </form>
                    <%}%>
                </div>
            </div>
            <form class="wrapper" action="/config/local-sensors" method="get">
                <input class="button" type="submit"  value="Local Sensors">
            </form>
            <form class="wrapper" action="/config/sensor-types" method="get">
                <input id="active_Page" class="button" type="button" value="Edit Sensor Types">
            </form>
        </nav>
    </div>

    <div class="row" id="sensor_config">
        <section class="col-2 config" id="config_left">
            <div class="content p-2">
                <h2>Selection</h2>
                <div class="list-group" id="list">
                    <%for (let count = 0; count < types.length; count++) { %>
                    <button id="list_<%=types[count].sensorTypeID%>" type="button" data-toggle="list" onclick="select('<%=types[count].sensorType%>', '<%=types[count].sensorTypeID%>')" class="list-group-item list-group-item-action"><%=types[count].sensorType%></button>
                    <%}%>
                    <button id="list_new"  type="button" data-toggle="list" onclick="select('', '')" class="list-group-item list-group-item-action active">+</button>
                </div>

            </div>
        </section>
        <section class="col-10 config" id="config_middle">
            <div class="content">
                <h1 id="config_name">Sensor Type</h1>
                <form id="form">
                    <label  class="form-label" for="typeName">Sensor Type Name:</label>
                    <div class="input-group mb-3">
                        <input data-id="" maxlength="16" minlength="1" autocomplete="off" class="form-control" type="text" id="typeName" name="sensorType" disabled required>
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="editButton('typeName')">Edit</button>
                    </div>
                    <div class="input-group mb-3">
                        <input id="submit" class="button"  value="Submit">
                        <input id="delete" class="button" value="Delete">
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>

<footer>
    <h1>https://github.com/lr101/REST_Server</h1>
</footer>
<script src="../javascript/jquery-3.6.0.min.js"></script>
<script src="../javascript/bootstrap.bundle.js"></script>
<script src="../javascript/config-sensor-types.js"></script>
</body>
</html>