<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='./stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='./stylesheets/index.css'>
    <title>Data Display</title>
</head>
<body>
<header class="text-center">
    <h1 id="title" class="">Data Display</h1>
</header>

<%
if (sensors !== undefined) {
    let len = sensors.length;
    len++;
%>
<main id="main" data-length="<%=len %>">

    <%for (let count = 0; count < len;) { %>
    <div class="row" >
        <%for (let y = 0; y < 4 && count < len; count++, y++){ %>
        <button class="col-md-3 text-center" id="section_<%=count%>" >
            <div class="ib">
                <%if(count + 1 === len) {%>
                    <p id="config">+</p>
                <%} else {%>
                <p data-id="<%=sensors[count].sensorID%>" id="sensor_<%=count%>"><%=sensors[count].sensorNick%></p>
                <p id="value_<%=count%>">LOADING...</p>
                <%}%>
            </div>
        </button>
        <%}%>
    </div>
    <% }}%>
</main>

<footer>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="./javascript/index.js"></script>

</body>
</html>