<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='./stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='./stylesheets/template.css'>
    <link rel='stylesheet' href='./stylesheets/index.css'>
    <title>Home Overview</title>
</head>
<body>
<header class="text-center">
    <h1 id="title">Data Display</h1>
</header>

<%
if (sensors !== undefined) {
    let len = sensors.length;
    len++;
%>
<main id="main" data-length="<%=len %>">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light lightgrey">
            <a class="navbar-brand darkgrey" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form  method="get" action="/" class="wrapper">
                <input id="active_Page" class="button"  type="button" value="home">
            </form>
            <div class="dropdown wrapper">
                <button class="button">Display Sensors</button>
                <div class="dropdown-content">
                    <%for (let count = 0; count < len - 1; count++) { %>
                    <form class="content" action="/display" method="get" >
                        <input hidden name="sensorID" value="<%=sensors[count].sensorID%>">
                        <input class="dropdown-item" id="dropdown_<%=sensors[count].sensorID%>" type="submit" value="<%=sensors[count].sensorNick%>">
                    </form>
                    <%}%>
                </div>
            </div>
            <form class="wrapper" action="/config/local-sensors" method="get">
                <input  class="button" type="submit"  value="Local Sensors">
            </form>
            <div class="wrapper">
                <button class="button" type="button">Edit Sensor Types</button>
            </div>
        </nav>
    </div>

    <%for (let count = 0; count < len;) { %>
    <div class="row" >
        <%for (let y = 0; y < 4 && count < len; count++, y++){ %>
        <form class="col-md-3 text-center" id="section_<%=count%>" method="get">
            <div class="ib">
                <%if(count + 1 === len) {%>
                    <p class="data" data-id="config" id="config">+</p>
                <%} else {%>
                    <p class="data" data-id="<%=sensors[count].sensorID%>" id="sensor_<%=count%>"><%=sensors[count].sensorNick%></p>
                    <p id="value_<%=count%>">LOADING...</p>
                    <input name="sensorID" hidden>
                <%}%>

            </div>
        </form>
        <%}%>
    </div>
    <% }}%>
</main>

<footer>
    <h1>Sensor display page by Lukas Reim</h1>
</footer>
<script src="./javascript/jquery-3.6.0.min.js"></script>
<script src="./javascript/index.js"></script>


</body>
</html>