<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='./stylesheets/bootstrap.css'>
        <link rel='stylesheet' href='./stylesheets/index.css'>
        <title>Aktuelle Temperaturen</title>
    </head>

    <body>

        <header>
            <h1 id="title">Current Temperatures</h1>
        </header>

        <main>
            <%
            if (sensors !== undefined) {
                let len = sensors.length;%>
            <div id="sensorCon" class="container" data-length="<%=len %>">
                <%for (let count = 0; count < len;) { %>
                <div class="row">
                    <%for (let y = 0; y < 3 && count < len; count++, y++){%>
                    <section class="col-md-4 m-auto ">
                        <h2 class="place"><%= sensors[count].sensorNick %></h2>
                        <form id="form_<%=count%>" action="/display" method="get" data-id="<%=sensors[count].sensorID%>">
                            <input type="hidden" name="t" value="<%=sensors[count].sensorID%>">
                            <input id="bCurrent_<%=sensors[count].sensorID%>" type="submit" class="temp btn link" value="Aktuell: LOADING...">
                        </form>
                    </section>
                    <%}%>
                </div>
                <% }}%>
            </div>
        </main>

        <footer>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p id="time">Letzte Aktualisierung um: --:-- Uhr</p> <!--TODO-->
                </div>
                <form class="col-sm-2" id="btconfig" action="/config" method="get">
                    <input type="submit" class="btn btn-light btn-sm" id="config" value="Sensor Konfiguration">
                </form>
            </div>

        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="./javascript/index.js"></script>
    </body>
</html>